<div class="layout-footer">
  <div class="bg-gray-900 footer-subcontainer">
    <div class="flex flex-column justify-content-between">
      <div class="flex flex-column gap-3">
        <div>
          <a class="flex gap-2 align-items-center" href="/">
            <img src="/assets/demo/images/flags/ru.svg" class="russian-flag" />
            <div class="home-section-heading">Russian eVisa</div>
          </a>
        </div>
        <div class="flex gap-2 align-items-center">
          <i class="pi pi-envelope text-white mb-0 pt-1"></i>
          <a href="mailto:support@evisa-russia.com" class="mail-link">
            support&#64;evisa-russia.com
          </a>
        </div>
        <div class="text-white">
          ITB Solutions DMCC 1505 Platinum Tower Cluster -I, JLT Dubai, UAE
        </div>
      </div>

      <p class="text-white mt-3">
        &copy; Russian eVisa Portal. All rights reserved.
      </p>
    </div>

    <div class="flex gap-7">
      <div class="">
        <div class="text-xl text-white mb-4">Pages</div>
        <ul class="list-none p-0 m-0">
          <li class="mb-3">
            <a class="cursor-pointer text-white" href="/">Home</a>
          </li>
          <li class="mb-3">
            <a class="cursor-pointer text-white" href="/general-information"
              >General Information</a
            >
          </li>
          <li class="mb-3">
            <a class="cursor-pointer text-white" href="/visa-requirment"
              >Visa Requirement</a
            >
          </li>
          <li class="mb-3">
            <a class="cursor-pointer text-white" href="/additional-services"
              >Additional Service</a
            >
          </li>
        </ul>
      </div>

      <div class="">
        <div class="text-xl text-white mb-4">Legal Pages</div>
        <ul class="list-none p-0 m-0">
          <li class="mb-3">
            <a class="cursor-pointer text-white" href="/privacy-policy"
              >Privacy Policy</a
            >
          </li>
          <li class="mb-3">
            <a class="cursor-pointer text-white" href="/refund-policy"
              >Refund Policy</a
            >
          </li>
          <li class="mb-3">
            <a class="cursor-pointer text-white" href="/cookie-policy"
              >Cookie Policy</a
            >
          </li>
          <li class="mb-3">
            <a class="cursor-pointer text-white" href="/terms-and-conditions"
              >Terms of Use & Condition</a
            >
          </li>
          <!-- <li class="mb-3">
            <a class="cursor-pointer text-white">Sitemap</a>
          </li> -->
        </ul>
      </div>
    </div>
  </div>
</div>
