<div class="layout-footer">
  <div class="px-5 sm:px-8 py-8 bg-gray-900 footer-subcontainer">
    <div class="flex flex-column justify-content-between flex-1">
      <a class="flex gap-2 align-items-center" href="/">
        <img src="/assets/demo/images/flags/ru.svg" class="russian-flag" />
        <div class="home-section-heading">Russian eVisa</div>
      </a>

      <p class="text-white">&copy; Russian eVisa Portal. All rights reserved.</p>
    </div>

    <div class="">
      <div class="text-xl text-white mb-4">Pages</div>
      <ul class="list-none p-0 m-0">
        <li class="mb-3">
          <a class="cursor-pointer text-white">Home</a>
        </li>
        <li class="mb-3">
          <a class="cursor-pointer text-white">General Information</a>
        </li>
        <li class="mb-3">
          <a class="cursor-pointer text-white">Visa Requirement</a>
        </li>
        <li class="mb-3">
          <a class="cursor-pointer text-white">Additional Service</a>
        </li>
      </ul>
    </div>
    <!-- <div class="flex flex-1 gap-4 justify-content-end">
      <a href="http://github.com/primefaces">
        <i class="pi pi-github text-white text-5xl"></i>
      </a>
      <a href="https://discord.gg/gzKFYnpmCY">
        <i class="pi pi-discord text-white text-5xl"></i>
      </a>
      <a href="http://twitter/primeng">
        <i class="pi pi-twitter text-white text-5xl"></i>
      </a>
    </div> -->
  </div>
</div>
