<div class="layout-footer">
  <div class="px-5 sm:px-8 py-8 bg-gray-900 footer-subcontainer">
    <div class="flex flex-column justify-content-between">
      <div class="flex flex-column gap-3">
        <div>
          <a class="flex gap-2 align-items-center" href="/">
            <img src="/assets/demo/images/flags/ru.svg" class="russian-flag" />
            <div class="home-section-heading">Russian eVisa</div>
          </a>
        </div>
        <div class="flex gap-2 align-items-center just">
          <i class="pi pi-envelope text-white mb-0 pt-1"></i>
          <a href="mailto:support@evisa-russia.com" class="mail-link">
            support&#64;evisa-russia.com
          </a>
        </div>
      </div>

      <p class="text-white">
        &copy; Russian eVisa Portal. All rights reserved.
      </p>
    </div>

    <div class="flex gap-7">
      <div class="">
        <div class="text-xl text-white mb-4">Pages</div>
        <ul class="list-none p-0 m-0">
          <li class="mb-3">
            <a class="cursor-pointer text-white">Home</a>
          </li>
          <li class="mb-3">
            <a class="cursor-pointer text-white">General Information</a>
          </li>
          <li class="mb-3">
            <a class="cursor-pointer text-white">Visa Requirement</a>
          </li>
          <li class="mb-3">
            <a class="cursor-pointer text-white">Additional Service</a>
          </li>
        </ul>
      </div>

      <div class="">
        <div class="text-xl text-white mb-4">Legal Pages</div>
        <ul class="list-none p-0 m-0">
          <li class="mb-3">
            <a class="cursor-pointer text-white">Privacy Policy</a>
          </li>
          <li class="mb-3">
            <a class="cursor-pointer text-white">Sitemap</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
