.russian-flag {
  width: 40px;
  height: 40px;
  border-radius: 10rem;
  object-fit: cover;
}

.home-section-heading {
  font-family: 'Poppins-500';
  color: #fff;
  font-size: 1.3rem;
}

.footer-subcontainer {
  display: flex;
  justify-content: space-between;
}