.wrapper {
  width: 88%;
  max-width: 1500px;
  margin: 0 auto;
}

.field-container {
  display: flex;
  gap: 10px;

  @media (max-width: 750px) {
    flex-direction: column;
  }
}

.field {
  width: 50%;

  @media (max-width: 750px) {
    width: 100%;
  }
}

.content-container {
  width: calc(100% - 20rem);

  @media (max-width: 750px) {
    width: 100%;
  }
}

.form-container {
  width: 88%;
  max-width: 1000px;
  margin: 0 auto;

  @media (max-width: 750px) {
    width: 100%;

    .card {
      padding: 1rem 1rem 1rem 0;
    }
  }

  .stepper-form {
    width: 100%;
  }
}

.p-stepper {
  flex-basis: 100%;

  @media (max-width: 750px) {
    width: 100%;
  }
}

.multiselect-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  flex-wrap: wrap;
}

.camera {
  margin: 1rem;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;

  .camera-overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 253, 253, 0.5);
    z-index: 100;
    pointer-events: none;
    mask: radial-gradient(circle, transparent 200px, rgba(0, 0, 0, 1) 200px);
    -webkit-mask: radial-gradient(
      circle,
      transparent 200px,
      rgba(0, 0, 0, 1) 200px
    );
  }

  .webcam-feed {
    position: relative;
    z-index: 0;
  }

  @media (max-width: 600px) {
    .camera-overlay::before {
      mask: radial-gradient(circle, transparent 100px, rgba(0, 0, 0, 1) 100px);
      -webkit-mask: radial-gradient(
        circle,
        transparent 100px,
        rgba(0, 0, 0, 1) 100px
      );
    }
  }
}

.doc-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;

  @media (max-width: 600px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.webcam-modal {
  width: 100% !important;
  @media (max-width: 600px) {
    width: 100% !important;
  }
}