<div class="wrapper">
  <h1 class="font-bold text-5xl mt-5 mb-5 text-900 text-center">
    Cookie Policy
  </h1>

  <div class="card line-height-3">
    <p>
      Our website uses cookies to distinguish you from other users of our
      website. This helps us to provide you with a good experience when you
      browse our website and also allows us to improve our site.
    </p>

    <p>
      A cookie is a small file of letters and numbers that we store on your
      browser or the hard drive of your computer if you agree. Cookies contain
      information that is transferred to your computer's hard drive.
    </p>

    <p>We use the following cookies:</p>

    <p>
      <span class="font-bold">Strictly necessary cookies:</span> These are
      cookies that are required for the operation of our website. These
      essential cookies are always enabled because our website won’t work
      properly without them. They include, for example, cookies that enable you
      to log into secure areas of our website, use a shopping cart or make use
      of e-billing services. You can switch off these cookies in your browser
      settings but you may then not be able to access all or parts of our
      website.
    </p>

    <p>
      <span class="font-bold">Analytical or performance cookies:</span> These
      allow us to recognise and count the number of visitors and to see how
      visitors move around our website when they are using it. This helps us to
      improve the way our website works, for example, by ensuring that users are
      finding what they are looking for easily.
    </p>

    <p>
      <span class="font-bold">Functionality cookies:</span> These are used to
      recognise you when you return to our website. This enables us to
      personalise our content for you, greet you by name and remember your
      preferences (for example, your choice of language or region).
    </p>

    <p>
      <span class="font-bold">Targeting cookies:</span> These cookies record
      your visit to our website, the pages you have visited and the links you
      have followed. We will use this information to make our website and the
      advertising displayed on it more relevant to your interests. We may also
      share this information with third parties for this purpose so that they
      can serve you with relevant advertising on their websites.
    </p>

    <p>
      To opt out of being tracked by Google Analytics across all websites, visit
      <a href="http://tools.google.com/dlpage/gaoptout"
        >http://tools.google.com/dlpage/gaoptout</a
      >.
    </p>
  </div>

  <div class="card line-height-3">
    <h2 class="font-bold text-2xl mb-3 text-900">Choices about cookies</h2>

    You can choose which analytical, functionality and targeting cookies we can
    set by clicking on the button(s):

    <div class="flex gap-3 align-items-start mt-3">
      <p-inputSwitch [(ngModel)]="necessaryCookie"></p-inputSwitch>

      <span>Strictly necessary cookies</span>
    </div>

    <div class="flex gap-3 align-items-start mt-2">
      <p-inputSwitch [(ngModel)]="analyticalCookies"></p-inputSwitch>

      <span>Analytical or performance cookies</span>
    </div>

    <div class="flex gap-3 align-items-start mt-2">
      <p-inputSwitch [(ngModel)]="FunctionalityCookies"></p-inputSwitch>

      <span>Functionality cookies</span>
    </div>

    <div class="flex gap-3 align-items-start mt-2">
      <p-inputSwitch [(ngModel)]="TargetingCookie"></p-inputSwitch>

      <span>Targeting cookies</span>
    </div>

    <p class="mt-3">
      You can also choose to "Reject All" cookies in the cookie banner.
    </p>

    <p>
      However, if you use your browser settings to block all cookies (including
      essential cookies) you may not be able to access all or parts of our
      website.
    </p>

    <p>Except for essential cookies, all cookies will expire after 6 months</p>

    <p>
      If you have any questions or concerns about our use of cookies, please
      send us an email at support&#64;evisa-russia.com.
    </p>
  </div>
</div>
