<div class="wrapper">
  <h1 class="font-bold text-5xl mt-5 mb-5 text-900 text-center">
    General Information
  </h1>

  <div class="card line-height-3">
    <h2 class="font-bold text-2xl mb-3 text-900">What is a Russia e-Visa?</h2>

    <div>
      A Russia e-Visa is an electronic travel authorization that allows foreign
      citizens to visit specific regions in Russia, such as Kaliningrad, St.
      Petersburg, and the Far East, without the need for a traditional visa. It
      simplifies the process by allowing applicants to complete the entire
      process online, from submitting necessary documents like passport copies
      to receiving the visa, eliminating the need for a visit to a Russian
      embassy or consulate.
    </div>
  </div>

  <div class="card line-height-3">
    <h2 class="font-bold text-2xl mb-3 text-900">Types of Russia e-Visas</h2>

    <div class="">
      <div>
        Russia offers three main types of e-Visas based on the purpose of your
        visit:
      </div>
      <div class="font-bold mt-3 mb-1 text-900">Tourist e-Visa:</div>
      For travelers visiting Russia for tourism purposes. This visa allows you
      to explore Russia's cultural landmarks, historical sites, and natural
      beauty.
      <div class="font-bold mt-3 mb-1 text-900">Business e-Visa:</div>
      For those traveling to Russia for business-related activities, such as
      attending meetings, conferences, or negotiations.
      <div class="font-bold mt-3 mb-1 text-900">Humanitarian e-Visa:</div>
      For individuals involved in cultural, sports, scientific, or technical
      events, fostering international cooperation in these fields.
      <div class="font-bold mt-3 mb-1 text-900">
        Eligibility for Russian e-Visa
      </div>
      Not all countries are eligible for a Russian e-Visa, including the U.S.,
      Canada, and the U.K., due to political or diplomatic reasons. Eligibility
      depends on your nationality and the specific region of Russia you plan to
      visit. Some countries may qualify for all three types of e-Visas, while
      others may be eligible for only one or two. It’s crucial to check the
      specific eligibility criteria for your nationality before applying.
    </div>
  </div>
</div>
