<p-toast />
<p-confirmPopup />
<div>
  <h3>Submitted Applications</h3>
  <div class="card">
    <form [formGroup]="applicationSearchForm">
      <div class="flex gap-3">
        <div class="field">
          <label for="passportNumber" class="font-bold">
            Search By<span class="text-red-400">*</span>
          </label>
          <p-dropdown
            id="searchBy"
            [options]="searchByList"
            formControlName="searchBy"
            optionLabel="label"
            styleClass="p-button-raised"
            placeholder="Select search"
            [ngClass]="{
              'ng-dirty ng-invalid':
                applicationSearchForm.get('searchByList')?.errors
            }"
            [style]="{ borderRadius: '10rem', width: '15rem' }"
            (onChange)="onFilterChange()"
          />
        </div>

        <div class="field" *ngIf="searchBy === 'applicationId'">
          <label for="applicationId" class="font-bold">
            Application Id<span class="text-red-400">*</span>
          </label>
          <input
            pInputText
            id="query"
            formControlName="applicationId"
            [style]="{ borderRadius: '10rem', width: '15rem' }"
          />
        </div>

        <div class="field" *ngIf="searchBy === 'firstName'">
          <label for="firstName" class="font-bold">
            First Name<span class="text-red-400">*</span>
          </label>
          <input
            pInputText
            id="query"
            formControlName="firstName"
            [style]="{ borderRadius: '10rem', width: '15rem' }"
          />
          <!-- (onChange)="onFilterChange()" -->
        </div>

        <div class="field" *ngIf="searchBy === 'lastName'">
          <label for="lastName" class="font-bold">
            Last Name<span class="text-red-400">*</span>
          </label>
          <input
            pInputText
            id="query"
            formControlName="lastName"
            [style]="{ borderRadius: '10rem', width: '15rem' }"
          />
        </div>

        <div class="field" *ngIf="searchBy === 'passport'">
          <label for="passportNumber" class="font-bold">
            Passport Number<span class="text-red-400">*</span>
          </label>
          <input
            pInputText
            id="query"
            formControlName="passport"
            [style]="{ borderRadius: '10rem', width: '15rem' }"
          />
        </div>

        <div *ngIf="searchBy === 'date'" class="flex gap-3">
          <div class="field">
            <label for="fromDate" class="font-bold">
              From Date<span class="text-red-400">*</span>
            </label>
            <p-calendar
              id="fromDate"
              formControlName="fromDate"
              [iconDisplay]="'input'"
              [showIcon]="true"
              [style]="{ borderRadius: '10rem', width: '15rem' }"
              placeholder="dd/mm/yyyy"
              dateFormat="dd/mm/yy"
              [monthNavigator]="true"
              [yearNavigator]="true"
              yearRange="1930:2050"
            ></p-calendar>
          </div>

          <div class="field">
            <label for="toDate" class="font-bold">
              To Date<span class="text-red-400">*</span>
            </label>
            <p-calendar
              id="toDate"
              formControlName="toDate"
              [iconDisplay]="'input'"
              [showIcon]="true"
              [style]="{ borderRadius: '10rem', width: '15rem' }"
              placeholder="dd/mm/yyyy"
              dateFormat="dd/mm/yy"
              [monthNavigator]="true"
              [yearNavigator]="true"
              yearRange="1930:2050"
            ></p-calendar>
          </div>
        </div>
      </div>

      <p-button (click)="onSearch()" label="Search" icon="pi pi-search" />
      <!-- [disabled]="!applicationSearchForm.get('reportType').valid" -->
    </form>
  </div>

  <div class="card mb-3" *ngIf="applicationsList?.length > 0">
    <!-- <form [formGroup]="applicationFilterForm">
      <div class="flex justify-content-between align-items-center mb-3">
        <div class="flex gap-3">
          <div style="width: 230px">
            <p-dropdown
              id="nationalityList"
              [options]="nationalityList"
              optionLabel="label"
              formControlName="nationality"
              styleClass="p-button-raised"
              [style]="{ borderRadius: '10rem', width: '100%' }"
              [filter]="true"
              filterBy="label"
              (onChange)="onFilterChange()"
            />
          </div>

          <div style="width: 135px">
            <p-dropdown
              id="status"
              [options]="statusList"
              formControlName="status"
              optionLabel="label"
              [style]="{ borderRadius: '10rem', width: '100%' }"
              (onChange)="onFilterChange()"
            />
          </div>

          <div style="width: 190px">
            <p-dropdown
              id="categorization"
              [options]="categorization"
              formControlName="categorization"
              optionLabel="label"
              [style]="{ borderRadius: '10rem', width: '100%' }"
              (onChange)="onFilterChange()"
            />
          </div>
        </div>

        <div class="flex gap-3">
          <p-button
            label="Approve"
            styleClass="p-button-outlined p-button-secondary"
            (click)="onApprov()"
            [disabled]="selectedApplications.length === 0"
          ></p-button>
          <p-button
            label="Reject"
            (click)="onApprov()"
            styleClass="p-button-outlined p-button-secondary"
            [disabled]="selectedApplications.length === 0"
          ></p-button>
          <p-button
            label="On-Hold"
            (click)="onApprov()"
            styleClass="p-button-outlined p-button-secondary"
            [disabled]="selectedApplications.length === 0"
          ></p-button>
        </div>
      </div>
    </form> -->

    <p-table
      [value]="applicationsList"
      [(selection)]="selectedApplications"
      dataKey="applicationNumber"
      [tableStyle]="{ 'min-width': '50rem' }"
      [paginator]="true"
      [rows]="10"
      [rowsPerPageOptions]="[10, 20]"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Application ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Passport</th>
          <th>Nationality</th>
          <th (click)="delete()">Status</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>{{ product.submissionId }}</td>
          <td>
            <div
              class="application-name"
              (click)="handleApplicationOpen(product)"
            >
              {{ product.firstName }} {{ product.lastName }}
            </div>
          </td>
          <td>{{ product.email || product.groupEmail }}</td>
          <td>{{ product.passportNumber }}</td>
          <td>{{ product.country }}</td>
          <td class="capitalize">
            <p-tag
              [severity]="getSeverity(product.status)"
              [value]="product.status"
              [rounded]="true"
            />
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="ball-fussion"
  [fullScreen]="true"
>
  <app-loader></app-loader>
</ngx-spinner>

<p-dialog
  [(visible)]="showApplicationDetailsDialog"
  [modal]="true"
  header="Applicant Details"
>
  <ng-template pTemplate="header">
    <div class="flex gap-3 bg-white" style="border-radius: 14px">
      <div class="text-2xl font-bold">Applicant Details</div>

      <p-tag
        [severity]="getSeverity(currentApplicationDetails.status)"
        [value]="currentApplicationDetails.status"
        [rounded]="true"
        styleClass="capitalize"
      />
    </div>
  </ng-template>

  <div class="flex flex-column gap-2" style="min-width: 55rem">
    <div>
      <div class="mt-3 mb-3 font-semibold text-xl">Personal Details</div>

      <div>
        <div class="applicant-individual-details">
          <div class="flex flex-column">
            <small>First Name</small>
            <div class="font-bold text-xl">
              {{ currentApplicationDetails?.firstName }}
            </div>
          </div>

          <div class="flex flex-column">
            <small>Last Name</small>
            <div class="font-bold text-xl">
              {{ currentApplicationDetails?.lastName }}
            </div>
          </div>

          <div class="flex flex-column">
            <small>Gender</small>
            <div class="font-bold text-xl">
              {{ currentApplicationDetails?.gender }}
            </div>
          </div>

          <div class="flex flex-column">
            <small>Date of Birth</small>
            <div class="font-bold text-xl">
              {{ currentApplicationDetails?.dateOfBirth }}
            </div>
          </div>

          <div class="flex flex-column">
            <small>Passport Number</small>
            <div class="font-bold text-xl">
              {{ currentApplicationDetails?.passportNumber }}
            </div>
          </div>

          <div class="flex flex-column">
            <small>Passport Place of Issue</small>
            <div class="font-bold text-xl">
              {{ currentApplicationDetails?.passportPlaceOfIssue }}
            </div>
          </div>

          <div class="flex flex-column">
            <small>Passport Expiry Date</small>
            <div class="font-bold text-xl">
              {{ currentApplicationDetails?.passportExpiryDate }}
            </div>
          </div>

          <div class="flex flex-column">
            <small>Passport Date of Issue</small>
            <div class="font-bold text-xl">
              {{ currentApplicationDetails?.passportDateOfIssue }}
            </div>
          </div>

          <div class="flex flex-column">
            <small>Contact Number</small>
            <div class="font-bold text-xl">
              {{ currentApplicationDetails?.countryCode }}
              {{ currentApplicationDetails?.contactNo }}
            </div>
          </div>

          <div class="flex flex-column">
            <small>Application ID</small>
            <div class="font-bold text-xl">
              {{ currentApplicationDetails?.submissionId }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <p-divider></p-divider>

    <div class="flex flex-column gap-2">
      <div class="mb-3 font-semibold text-xl">Documents</div>

      <div class="flex justify-content-between">
        1. Photo

        <div class="flex gap-3">
          <!-- <p-button
            label="View"
            icon="pi pi-eye"
            styleClass="p-button-outlined p-button-secondary"
          ></p-button> -->

          <button
            rel="noopener noreferrer"
            class="p-button p-button-outlined p-button-secondary flex gap-2 align-items-center"
            (click)="downloadFile(currentApplicationDetails?.photo, 'photo')"
          >
            <i class="pi pi-download"></i>
            <span class="font-bold">Download</span>
          </button>
        </div>
      </div>

      <div class="flex justify-content-between">
        2. Passport

        <div class="flex gap-3">
          <!-- <p-button
            label="View"
            icon="pi pi-eye"
            styleClass="p-button-outlined p-button-secondary"
          ></p-button> -->

          <button
            class="p-button p-button-outlined p-button-secondary flex gap-2 align-items-center"
            (click)="
              downloadFile(
                currentApplicationDetails?.passportFront,
                'Passport Front'
              )
            "
          >
            <i class="pi pi-download"></i>
            <span class="font-bold">Download</span>
          </button>
        </div>
      </div>

      <!-- <div class="flex justify-content-between">
        2. Passport Back

        <div class="flex gap-3">

          <button
            class="p-button p-button-outlined p-button-secondary flex gap-2 align-items-center"
            (click)="
              downloadFile(
                currentApplicationDetails?.passportBack,
                'Passport Back'
              )
            "
          >
            <i class="pi pi-download"></i>
            <span class="font-bold">Download</span>
          </button>
        </div>
      </div> -->
    </div>
    <p-divider></p-divider>
    <div class="flex gap-3">
      <div class="w-6">
        <p-timeline [value]="selectedApplicationHistory">
          <ng-template pTemplate="opposite" let-event>
            <small class="p-text-secondary">
              <div>{{ event.date }}</div>
              <div>{{ event.time }}</div>
            </small>
          </ng-template>
          <ng-template pTemplate="content" let-event>
            {{ event.description }}
          </ng-template>
        </p-timeline>
      </div>
      <p-divider layout="vertical" />
      <div>
        <div class="mb-3 font-semibold text-xl">Payment Details</div>
        <div class="" style="max-width: 15rem">
          <div class="flex justify-content-between total-row">
            <div class="">Visa Fee</div>
            <div class="font-bold">
              ${{ currentApplicationDetails?.visaFee }}
            </div>
          </div>
          <div class="flex justify-content-between total-row mt-2">
            <div class="">Service Fee</div>
            <div class="font-bold">
              ${{ currentApplicationDetails?.serviceFee }}
            </div>
          </div>
          <!-- <p-divider /> -->
          <div class="flex justify-content-between total-row mt-3">
            <div class="font-bold">Total</div>
            <div class="font-bold">
              ${{
                +currentApplicationDetails?.visaFee +
                  +currentApplicationDetails?.serviceFee
              }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <p-divider></p-divider>
  </div>

  <div class="flex justify-content-center mb-3 gap-3">
    <p-button
      label="Apply Visa"
      [disabled]="currentApplicationDetails?.status === 'applied'"
      severity="success"
      (click)="confirmPopup($event)"
    ></p-button>
  </div>
</p-dialog>
