.field {
  width: 20rem;
}

.date-container {
  width: fit-content;
  display: flex;
  gap: 1rem;
  padding: 1rem 1rem 0 1rem;
  border-radius: 1rem;
  background: rgba(12, 74, 110, 0.1);
  margin-bottom: 1rem;
}

.application-name {
  width: fit-content;
  padding: 0.4rem 0.8rem;
  border-radius: 10rem;
  background: rgba(32, 62, 255, 0.05);
  color: #0ea5e9;
  font-weight: 700;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px;
  cursor: pointer;
}

.applicant-details-container {
  max-height: 60%;
  overflow-y: auto;

  .applicant-container {
    width: 650px;

    @media (max-width: 576px) {
      width: 100%;

      .applicant-individual-details {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}

.applicant-individual-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
