<div class="">
  <div class="landing-wrapper">
    <div class="bg-no-repeat bg-cover bg-bottom wrapper" style="height: 90vh">
      <div class="hero-section-container">
        <div class="flex-1 fadein animation-duration-1000">
          <h1 class="font-bold mt-0 mb-3 hero-section-heading">
            Russian eVisa Portal
          </h1>
          <p class="text-3xl mb-5 line-height-3">
            Complete your eVisa application in under 5 minutes
          </p>
          <button
            pButton
            pRipple
            label="Apply Now"
            size="large"
            [rounded]="true"
            (click)="handleApplyRedirection()"
          ></button>
        </div>
        <div class="img-container">
          <img
            alt="intro image"
            src="assets/demo/images/landing/russia.png"
            class="fadeinright animation-ease-in-out animation-duration-1000 w-full border-round-3xl shadow-2"
          />
        </div>
      </div>
    </div>

    <div #stats class="py-8 blue-bg">
      <div class="wrapper">
        <div class="flex flex-column align-items-center mb-7">
          <h2 class="font-bold home-section-heading my-1">
            How to Apply for Your e-Visa
          </h2>
          <div>We’ve simplified the process for a smooth experience:</div>
        </div>
        <div class="flex flex-column xl:flex-row justify-content-center gap-5">
          <div class="w-full lg:w-4 flex align-items-center relative">
            <div class="card-number">
              <div class="hash">#</div>
              <div class="number">1</div>
            </div>
            <div
              class="surface-card py-4 px-5 ml-7 steps-section-card"
              style="border-radius: 14px"
            >
              <h3 class="mt-0 mb-3 font-bold text-3xl">
                Complete the Application
              </h3>
              <p class="line-height-3 text-color-secondary">
                Provide basic details like your name, travel plans, and passport
                information.
              </p>
            </div>
          </div>

          <div class="w-full lg:w-4 flex align-items-center relative">
            <div class="card-number">
              <div class="hash">#</div>
              <div class="number">2</div>
            </div>
            <div
              class="surface-card py-4 px-5 ml-7 steps-section-card"
              style="border-radius: 14px"
            >
              <h3 class="mt-0 mb-3 font-bold text-3xl">Pay the Fee</h3>
              <p class="line-height-3 text-color-secondary">
                Securely pay the e-visa processing fee online. Our service
                includes expert review and 24/7 support.
              </p>
            </div>
          </div>

          <div class="w-full lg:w-4 flex align-items-center relative">
            <div class="card-number">
              <div class="hash">#</div>
              <div class="number">3</div>
            </div>

            <div
              class="surface-card py-4 px-5 ml-7 steps-section-card"
              style="border-radius: 14px"
            >
              <h3 class="mt-0 mb-3 font-bold text-3xl">Receive Your e-Visa</h3>
              <p class="line-height-3 text-color-secondary">
                Get your approved e-visa via email within 4-6 days. Print it and
                your travel purpose aligns with those permitted by the e-Visa,
                present it at the Russian border.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="py-8 surface-card">
      <div class="wrapper">
        <div class="flex gap-6">
          <div class="half-width-card">
            <h3 class="mt-0 mb-5 home-section-heading">
              What is a Russia e-Visa?
            </h3>

            <p>
              A Russia e-Visa is an electronic travel authorization that allows
              foreign citizens to visit specific regions in Russia, such as
              Kaliningrad, St. Petersburg, and the Far East, without the need
              for a traditional visa. It simplifies the process by allowing
              applicants to complete the entire process online, from submitting
              necessary documents like passport copies to receiving the visa,
              eliminating the need for a visit to a Russian embassy or
              consulate.
            </p>
          </div>

          <div class="half-width-card">
            <h3 class="mt-0 mb-5 home-section-heading">
              Types of Russia e-Visas
            </h3>

            <p>
              <b>Tourist e-Visa</b>
              For travelers visiting Russia for tourism purposes. This visa
              allows you to explore Russia's cultural landmarks, historical
              sites, and natural beauty.
            </p>

            <p>
              <b>Business e-Visa</b>
              For those traveling to Russia for business-related activities,
              such as attending meetings, conferences, or negotiations.
            </p>

            <p>
              <b>Humanitarian e-Visa</b>
              For individuals involved in cultural, sports, scientific, or
              technical events, fostering international cooperation in these
              fields.
            </p>
          </div>
        </div>

        <div class="blue-card mt-4">
          <h3 class="mt-0 mb-5 home-section-heading">
            Eligibility for Russian e-Visa
          </h3>

          <p>
            Not all countries are eligible for a Russian e-Visa, including the
            U.S., Canada, and the U.K., due to political or diplomatic reasons.
            Eligibility depends on your nationality and the specific region of
            Russia you plan to visit. Some countries may qualify for all three
            types of e-Visas, while others may be eligible for only one or two.
            It’s crucial to check the specific eligibility criteria for your
            nationality before applying.
          </p>
        </div>
      </div>
    </div>

    <div class="py-8 blue-bg">
      <div class="wrapper">
        <div>
          <h3 class="mt-0 mb-5 home-section-heading">
            Russian e-Visa Requirements
          </h3>

          <p>
            <b>Completed Online Application Form</b><br />
            Ensure all information is accurate and complete.
          </p>

          <p>
            <b>Valid Passport</b><br />
            Your passport must be valid for at least 6 months from the date of
            your application and should have at least one blank page for border
            stamps.
          </p>

          <p>
            <b>Payment of the e-Visa Fee</b><br />
            The processing fee can be paid online using a debit/credit card or
            PayPal. This fee covers the expert review of your application,
            corrections of any errors, and 24/7 support.
          </p>

          <p>
            <b>Additional Documents</b><br />
            While you can upload these later, ensure you have a recent
            passport-sized photo, health insurance covering your stay in Russia,
            and an active email address for receiving notifications
          </p>
        </div>

        <div class="flex mt-4 gap-3">
          <div class="card">
            <p>
              <b>Tourist Visa</b><br />
              For short-term leisure travel.
            </p>
          </div>

          <div class="card">
            <p>
              <b>Work Visa</b><br />
              For individuals employed by Russian companies.
            </p>
          </div>

          <div class="card">
            <p>
              <b>Business Visa</b><br />
              For those conducting business in Russia.
            </p>
          </div>
        </div>

        <div class="flex mt-4 gap-3">
          <div class="card">
            <p>
              <b>Transit Visa</b><br />
              For travelers passing through Russia to another destination.
            </p>
          </div>

          <div class="card">
            <p>
              <b>Study Visa</b><br />
              For students attending educational institutions in Russia
            </p>
          </div>

          <div style="width: 33%"></div>
        </div>
      </div>
    </div>

    <div #features class="py-8 surface-card">
      <div class="wrapper">
        <h3 class="mt-0 mb-5 home-section-heading">Why Choose Us?</h3>
        <div class="flex flex-column lg:flex-row justify-content-center gap-5">
          <div class="w-full lg:w-4">
            <div
              class="bg-orange-50 p-6 flex align-items-center justify-content-center mb-5"
              style="border-radius: 14px; border-top-left-radius: 5rem"
            >
              <img
                alt="intro image"
                src="assets/demo/images/landing/application.png"
                class="h-5rem sm:h-8rem"
              />
            </div>
            <h3 class="mt-0 mb-3 font-bold text-2xl">
              5 minute application process
            </h3>
            <p class="line-height-3 text-color-secondary">
              Fill in your details, travel information, and passport details.
              Double-check to ensure all information is accurate and up to date
              before submitting.
            </p>
          </div>
          <div class="w-full lg:w-4">
            <div
              class="bg-green-50 p-6 flex align-items-center justify-content-center mb-5"
              style="border-radius: 14px"
            >
              <img
                alt="intro image"
                src="assets/demo/images/landing/pay-fees.png"
                class="h-5rem sm:h-8rem"
              />
            </div>
            <h3 class="mt-0 mb-3 font-bold text-2xl">Document Verification</h3>
            <p class="line-height-3 text-color-secondary">
              After submitting your application, proceed to the payment section.
              Pay the required fee securely using our trusted payment gateway.
            </p>
          </div>
          <div class="w-full lg:w-4">
            <div
              class="bg-red-50 p-6 flex align-items-center justify-content-center mb-5"
              style="border-radius: 14px"
            >
              <img
                alt="intro image"
                src="assets/demo/images/landing/received-evisa.png"
                class="h-4rem sm:h-8rem"
              />
            </div>
            <h3 class="mt-0 mb-3 font-bold text-2xl">Timely Notifications</h3>
            <p class="line-height-3 text-color-secondary">
              Once you've submitted your application, you'll receive a
              confirmation email. Your approved visa document will be sent to
              you via email within the specified processing time. Be sure to
              check your inbox regularly, including the spam or junk folder.
            </p>
          </div>
          <div class="w-full lg:w-4">
            <div
              class="bg-red-50 p-6 flex align-items-center justify-content-center mb-5"
              style="border-radius: 14px; border-bottom-right-radius: 5rem"
            >
              <img
                alt="intro image"
                src="assets/demo/images/landing/24-hours-call-icon.svg"
                class="h-5rem sm:h-8rem"
              />
            </div>
            <h3 class="mt-0 mb-3 font-bold text-2xl">24/7 Support</h3>
            <p class="line-height-3 text-color-secondary">
              Once you've submitted your application, you'll receive a
              confirmation email. Your approved visa document will be sent to
              you via email within the specified processing time. Be sure to
              check your inbox regularly, including the spam or junk folder.
            </p>
          </div>
        </div>
      </div>
    </div>

    <br />

    <div class="blue-bg py-8">
      <div class="wrapper">
        <a href="/eligible-countries" class="mt-0 mb-0 home-section-heading">
          Check the list of eligible countries for Russian e-visa here.
        </a>
      </div>
    </div>

    <div #pricing class="py-8 surface-card gap-5">
      <div class="wrapper">
        <h3 class="mt-0 mb-5 home-section-heading">
          Tips for a Sucessful Application
        </h3>

        <div class="tips-container">
          <div class="tip-card">
            <p class="time-text">
              <i class="pi pi-check-circle text-green-500 text-xl mr-2"></i>
              <span>Re-read before submitting application</span>
            </p>
          </div>

          <div class="tip-card">
            <p class="time-text">
              <i class="pi pi-check-circle text-green-500 text-xl mr-2"></i>
              <span>Track application status regularly.</span>
            </p>
          </div>

          <div class="tip-card">
            <p class="time-text">
              <i class="pi pi-check-circle text-green-500 text-xl mr-2"></i>
              <span>Apply well in advance.</span>
            </p>
          </div>

          <div class="tip-card">
            <p class="time-text">
              <i class="pi pi-check-circle text-green-500 text-xl mr-2"></i>
              <span>Check passport expiration early</span>
            </p>
          </div>

          <div class="tip-card">
            <p class="time-text">
              <i class="pi pi-check-circle text-green-500 text-xl mr-2"></i>
              <span>Verify nationality eligibility.</span>
            </p>
          </div>

          <div class="tip-card">
            <p class="time-text">
              <i class="pi pi-check-circle text-green-500 text-xl mr-2"></i>
              <span>Ensure clear, correct uploads</span>
            </p>
          </div>

          <div class="tip-card">
            <p class="time-text">
              <i class="pi pi-check-circle text-green-500 text-xl mr-2"></i>
              <span>Align travel dates accurately.</span>
            </p>
          </div>

          <div class="tip-card">
            <p class="time-text">
              <i class="pi pi-check-circle text-green-500 text-xl mr-2"></i>
              <span>Choose correct visa type.</span>
            </p>
          </div>

          <div class="tip-card">
            <p class="time-text">
              <i class="pi pi-check-circle text-green-500 text-xl mr-2"></i>
              <span>Confirm successful payment.</span>
            </p>
          </div>

          <div class="tip-card">
            <p class="time-text">
              <i class="pi pi-check-circle text-green-500 text-xl mr-2"></i>
              <span>Submit all required documents.</span>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="py-8 blue-bg">
      <div class="wrapper">
        <h3 class="mt-0 mb-5 home-section-heading">What are customers say</h3>

        <p-carousel
          [value]="testimonials"
          [numVisible]="3"
          [numScroll]="1"
          [circular]="true"
          styleClass="mb-3"
          [responsiveOptions]="carouselResponsiveOptions"
        >
          <ng-template let-product pTemplate="item">
            <div class="testimonial-card">
              <div class="profile">
                <div>
                  <img [src]="product.reviewer_profile" class="profile-img" />
                </div>

                <div>
                  <div class="reviewer-name">{{ product.reviewer_name }}</div>
                  <div>{{ product.country }}</div>
                </div>
              </div>

              <div class="review">{{ product.review }}</div>
            </div>
          </ng-template>
        </p-carousel>
      </div>
    </div>
  </div>
</div>

<div class="pop-up-container" *ngIf="showContinueApplicationPopUp">
  <div class="pop-up-card">
    <div class="flex gap-3">
      <p class="time-text"><span>Continue with your visa application</span></p>
      <i
        class="pi pi-times cursor-pointer"
        (click)="showContinueApplicationPopUp = false"
      ></i>
    </div>
    <p class="day-text">
      Get Visa by <span class="font-bold"> {{ visaApprovalDate }}</span>
    </p>
    <p class="day-text">Apply within <span class="duration">5 minutes</span></p>

    <div class="flex mt-3">
      <button
        pButton
        pRipple
        label="Continue"
        routerLink="/application"
        [rounded]="true"
      ></button>
    </div>
  </div>
</div>
