@import "./sidebar/_sidebar_vertical";
@import "./sidebar/_sidebar_slim";
@import "./sidebar/_sidebar_slim_plus";

.app-logo {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  img {
    width: 3rem;
  }

  span {
    font-size: 2rem;
    font-weight: 700;
    margin-left: 0.5rem;
    color: #fff;
  }
}
