<div class="admin-layout-topbar">
  <div class="wrapper flex align-items-center justify-content-end">
    <!-- <ul class="topbar-menu">
      <li *ngFor="let item of tabs; let i = index">
        <a
          [routerLink]="item.routerLink"
          routerLinkActive="active-route"
          [routerLinkActiveOptions]="
            item.routerLinkActiveOptions || {
              paths: 'exact',
              queryParams: 'ignored',
              fragment: 'ignored',
              matrixParams: 'ignored'
            }
          "
          [fragment]="item.fragment"
          [queryParamsHandling]="item.queryParamsHandling"
          [preserveFragment]="item.preserveFragment!"
          [skipLocationChange]="item.skipLocationChange!"
          [replaceUrl]="item.replaceUrl!"
          [state]="item.state"
          [queryParams]="item.queryParams"
        >
          <span>{{ item.label }}</span>
        </a>
      </li>
    </ul> -->

    <!-- <div
      class="topbar-search"
      [ngClass]="{ 'topbar-search-active': searchActive }"
    >
      <button
        class="topbar-searchbutton p-link"
        type="button"
        (click)="activateSearch()"
      >
        <i class="pi pi-search"></i>
      </button>

      <div class="search-input-wrapper">
        <span class="p-input-icon-right">
          <input
            #searchinput
            type="text"
            pInputText
            placeholder="Search"
            (blur)="deactivateSearch()"
            (keydown.escape)="deactivateSearch()"
          />
          <i class="pi pi-search"></i>
        </span>
      </div>
    </div> -->

    <div class="new-user-profile">
      <div class="profile-container">
        <div class="dropdown">
          <button class="dropbtn profile-container">
            <i class="pi pi-user text-xl" style="color: #708090"></i>
          </button>
          <div class="dropdown-content">
            <div href="#" class="option" (click)="handleLogOut()">Log out</div>
          </div>
        </div>
        <!-- <img src="/assets/demo/images/icons/user.png" alt="" class="profile"> -->
      </div>
    </div>
  </div>
</div>
