<div class="layout-footer">
  <div
    class="px-5 sm:px-8 py-8 bg-gray-900 flex flex-column md:flex-row md:align-items-start gap-5"
    style="border-top-left-radius: 14px; border-top-right-radius: 14px"
  >
    <div class="flex align-items-center flex-1">
      <img
        alt="intro image"
        src="assets/demo/images/landing/logo-v.svg"
        class="w-4rem"
      />
      <span class="text-white text-5xl font-bold ml-2">Verona</span>
    </div>
    <div class="flex-1">
      <div class="text-xl text-gray-600 mb-4">Pages</div>
      <ul class="list-none p-0 m-0">
        <li class="mb-3">
          <a class="cursor-pointer text-white text-xl">Home</a>
        </li>
        <li class="mb-3">
          <a class="cursor-pointer text-white text-xl">General Information</a>
        </li>
        <li class="mb-3">
          <a class="cursor-pointer text-white text-xl">Visa Requirement</a>
        </li>
        <li class="mb-3">
          <a class="cursor-pointer text-white text-xl">Additional Service</a>
        </li>
      </ul>
    </div>
    <div class="flex flex-1 gap-4 justify-content-end">
      <a href="http://github.com/primefaces">
        <i class="pi pi-github text-white text-5xl"></i>
      </a>
      <a href="https://discord.gg/gzKFYnpmCY">
        <i class="pi pi-discord text-white text-5xl"></i>
      </a>
      <a href="http://twitter/primeng">
        <i class="pi pi-twitter text-white text-5xl"></i>
      </a>
    </div>
  </div>
</div>
