<div class="layout-topbar">
  <div class="wrapper flex align-items-center">
    <div>
      Russian eVisa
    </div>

    <ul class="topbar-menu">
      <li *ngFor="let item of tabs; let i = index">
        <a
          [routerLink]="item.routerLink"
          routerLinkActive="active-route"
          [routerLinkActiveOptions]="
            item.routerLinkActiveOptions || {
              paths: 'exact',
              queryParams: 'ignored',
              fragment: 'ignored',
              matrixParams: 'ignored'
            }
          "
          [fragment]="item.fragment"
          [queryParamsHandling]="item.queryParamsHandling"
          [preserveFragment]="item.preserveFragment!"
          [skipLocationChange]="item.skipLocationChange!"
          [replaceUrl]="item.replaceUrl!"
          [state]="item.state"
          [queryParams]="item.queryParams"
        >
          <span>{{ item.label }}</span>
        </a>
      </li>
      <!-- <li *ngIf="!tabs || tabs.length === 0" class="topbar-menu-empty">
        Use (cmd + click) to open a tab
      </li> -->
    </ul>

    <!-- <div
      class="topbar-search"
      [ngClass]="{ 'topbar-search-active': searchActive }"
    >
      <button
        class="topbar-searchbutton p-link"
        type="button"
        (click)="activateSearch()"
      >
        <i class="pi pi-search"></i>
      </button>

      <div class="search-input-wrapper">
        <span class="p-input-icon-right">
          <input
            #searchinput
            type="text"
            pInputText
            placeholder="Search"
            (blur)="deactivateSearch()"
            (keydown.escape)="deactivateSearch()"
          />
          <i class="pi pi-search"></i>
        </span>
      </div>
    </div> -->

    <div class="topbar-profile">
      <p-button icon="pi pi-phone" label="Need Help?"></p-button>
    </div>
  </div>
</div>
