<div class="wrapper">
  <h1 class="font-bold text-5xl mt-5 mb-5 text-900 text-center">
    Visa Requirement
  </h1>

  <div class="card line-height-3 mb-3">
    <h2 class="font-bold text-2xl mb-3 text-900">
      Russian e-Visa Requirements
    </h2>

    <div>
      To apply for a Russian e-Visa, you need to meet the following
      requirements:

      <div class="font-bold mt-3 mb-1 text-900">
        Completed Online Application Form:
      </div>
      Ensure all information is accurate and complete.
      <div class="font-bold mt-3 mb-1 text-900">Valid Passport:</div>
      Your passport must be valid for at least 6 months from the date of your
      application and should have at least one blank page for border stamps.
      <div class="font-bold mt-3 mb-1 text-900">Payment of the e-Visa Fee:</div>
      The processing fee can be paid online using a debit/credit card or PayPal.
      This fee covers the expert review of your application, corrections of any
      errors, and 24/7 support.
      <div class="font-bold mt-3 mb-1 text-900">Additional Documents:</div>
      While you can upload these later, ensure you have a recent passport-sized
      photo, health insurance covering your stay in Russia, and an active email
      address for receiving notifications.
      <div class="font-bold mt-3 mb-1 text-900">Types of Russian Visas</div>
      Russia offers 12 different types of visas, depending on the purpose of
      your visit. The most commonly issued visas include:
      <div class="font-bold mt-3 mb-1 text-900">Tourist Visa:</div>
      For short-term leisure travel.
      <div class="font-bold mt-3 mb-1 text-900">Business Visa:</div>
      For those conducting business in Russia.
      <div class="font-bold mt-3 mb-1 text-900">Study Visa:</div>
      For students attending educational institutions in Russia.
      <div class="font-bold mt-3 mb-1 text-900">Work Visa:</div>
      For individuals employed by Russian companies.
      <div class="font-bold mt-3 mb-1 text-900">Transit Visa:</div>
      For travelers passing through Russia to another destination.

      <div class="mt-3">
        Most visas permit a stay of up to 90 days within a 180-day period.
        Exceptions apply to Work and Study visas, which can be extended based on
        the duration of employment or study.
      </div>
    </div>
  </div>
</div>
