<div class="wrapper mb-3">
  <h1 class="font-bold text-5xl mt-5 mb-5 text-900 text-center">
    Additional Services
  </h1>

  <div class="flex gap-3 flex-column sm:flex-row">
    <div class="card line-height-3 w-full lg:w-6 h-full mb-0">
      <h2 class="font-bold text-2xl mb-3 text-900">
        Russia Visa Invitation Service
      </h2>

      <div>
        Before applying for a Russian visa, you must obtain a visa invitation
        letter, which serves as an official invitation to enter the country. We
        offer services to help you obtain invitations for both tourist and
        business visas, ensuring a quick and hassle-free process.
      </div>
    </div>
    <div class="card line-height-3 w-full lg:w-6">
      <h2 class="font-bold text-2xl mb-3 text-900">
        Apply for Your Russian Visa Invitation Now!
      </h2>

      <div>
        To get started, fill out our online form to request a visa invitation.
        Our specialists will handle the rest, providing you with all the
        necessary documents to apply for your Russian visa. We also offer a
        range of additional services to help organize your trip to Russia.
      </div>
    </div>
  </div>

  <div class="flex gap-3 flex-column sm:flex-row mt-3">
    <div class="card line-height-3 w-full lg:w-6 mb-0">
      <h2 class="font-bold text-2xl mb-3 text-900">
        Russia e-Visa Processing Time
      </h2>

      <div>
        Once you submit your completed application, a Russia e-Visa is typically
        issued within four calendar days. The process is straightforward and
        takes about 20 minutes if you have all the required documents ready. The
        application does not require you to submit additional documentation like
        invitation letters or hotel bookings.
      </div>
    </div>

    <div class="card line-height-3 w-full lg:w-6">
      <h2 class="font-bold text-2xl mb-3 text-900">e-Visa Validity Period</h2>

      <div>
        The Russia e-Visa is valid for 30 days from the date of issuance and
        allows a stay of up to 8 days within Russia. It is a single-entry visa,
        and its validity cannot be extended except in specific emergency
        situations, such as natural disasters or medical emergencies.
      </div>
    </div>
  </div>

  <div class="card line-height-3 mt-3">
    <h2 class="font-bold text-2xl mb-3 text-900">Need Assistance?</h2>

    Our 24/7 customer support is here to help—contact us anytime via our Contact
    Form.
  </div>
</div>
